p,
body {
  margin: 0;
}

body {
  background-image: url(../cat/images/bg3.png);
}

article {
  background-color: white;
  border-radius: 20px 20px 0 0;
  width: 400px;
  margin: 200px auto;
  padding: 20px;
  text-align: center;
  color: red;
  border-bottom: 40px solid;
  /* box-sizing: border-box; */
}

h1 {
  margin: 20px auto;
  width: fit-content;
  border-bottom: 10px solid;
}

p {
  color: black;
  background-color: #eae9e9;
  padding: 10px;
}
