body,
p {
  margin: initial;
  padding: initial;
}

h1 {
  margin: initial;
  font-size: inherit;
  font-weight: inherit;
}

.bg {
  background-size: cover;
  background-image: url(./images/bg.png);
}

.wrapper {
  width: 300px;
  margin: 60px auto;
}

.text_box {
  background-color: #9c6035;
  border-radius: 0 0 30px 30px;
  border-bottom: 10px solid #46260e;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.main_title {
  font-weight: inherit;
  font-size: 36px;
  color: white;
  padding: 10px 0 0 20px;
}

.main_text {
  font-weight: inherit;
  text-align: left;
  font-size: 16px;
  color: #e8bc9c;
  padding: 10px 20px 30px 20px;
}
