body,
p {
  margin: initial;
  padding: initial;
}

h1 {
  margin: initial;
  font-size: inherit;
  font-weight: inherit;
}

body {
  background-image: url(./images/bg.png);
}

:root {
  font-family: Arial, sans-serif;
}

img {
  vertical-align: top;
}

.wrapper {
  width: 300px;
  margin: 60px auto;
}

.animal_contents {
  background-image: url(./images/green.png);
  background-repeat: no-repeat;
  background-color: #9c6035;
  border-radius: 0 0 30px 30px;
  border-bottom: 10px solid #46260e;
  font-weight: bold;
}

.animal_title {
  font-size: 36px;
  color: white;
  padding: 10px 0 0 20px;
}

.animal_text {
  font-size: 16px;
  color: #e8bc9c;
  padding: 10px 20px 30px 20px;
}
